<html>
<head>
    <title>Point Cloud</title>
    <style>
        body { margin: 0; }
        canvas { display: block; }
    </style>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r83/three.min.js"></script>
</head>
<body>
    <div id="content" style="position:absolute; top:0; left:0; height:80%; width:100%;"></div>
    <div id="control" style="position:absolute; top:80%; left:0; height:20%; width:100%; background-color:lightgrey;">
        <button id="on_button" style="height:50px;">On!</button>
        <button id="off_button" style="height:50px;">Off!</button>
        <button id="webcam_color_button" style="height:50px;">Webcam Color!</button>
        <button id="default_color_button" style="height:50px;">No Color!</button>
    </div>
</body>

  <script type="module" src="viewer2.js"></script>
</html>